{{- define "messageDetails" -}}
{{if .Message.Description}}{{.Message.Description}}{{else}}No message description provided.{{end}}

{{if .Message.HasFields -}}
| Field | Type | Description |
| --- | --- | --- |
{{range .Message.Fields -}}
| `{{if and .IsOneof (not (regexMatch "^_" .OneofDecl))}}{{.OneofDecl}}.{{end}}{{.Name}}` | {{template "fieldType" (dict "Field" . "Files" $.Files)}} | {{if (index .Options "deprecated"|default false)}}**Deprecated.** {{end}}{{if .Description}}{{nobr .Description}}{{else}}No field description provided.{{end}}{{if .DefaultValue}} Default: `{{.DefaultValue}}`{{end}} |
{{end}}
{{end}}
{{- end -}}
{{- define "typeRef" -}}
{{- $field := .Field -}}
{{- $label := .Label -}}
{{- $linked := false -}}
{{- range .Files}}{{range .Messages -}}
{{- if eq .FullName $field.FullType -}}
{{if $label}}{{$label}} {{end}}[`{{$field.LongType}}`](#{{.FullName | anchor}})
{{- $linked = true -}}
{{- end -}}
{{- end}}{{end -}}
{{- range .Files}}{{range .Enums -}}
{{- if eq .FullName $field.FullType -}}
{{if $label}}{{$label}} {{end}}[`{{$field.LongType}}`](#{{.FullName | anchor}})
{{- $linked = true -}}
{{- end -}}
{{- end}}{{end -}}
{{- if not $linked -}}
`{{if $label}}{{$label}} {{end}}{{$field.LongType}}`
{{- end -}}
{{- end -}}
{{- define "fieldType" -}}
{{- $field := .Field -}}
{{- if $field.IsMap -}}
{{- $keyType := "unknown" -}}
{{- $valueField := $field -}}
{{- range .Files}}{{range .Messages -}}
{{- if eq .FullName $field.FullType -}}
{{- range .Fields -}}
{{- if eq .Name "key" -}}{{- $keyType = .LongType -}}{{- end -}}
{{- if eq .Name "value" -}}{{- $valueField = . -}}{{- end -}}
{{- end -}}
{{- end -}}
{{- end}}{{end -}}
map&lt;`{{$keyType}}`, {{template "typeRef" (dict "Field" $valueField "Files" .Files)}}&gt;
{{- else -}}
{{template "typeRef" (dict "Field" $field "Files" .Files "Label" $field.Label)}}
{{- end -}}
{{- end -}}
---
title: Realtime Protocol
description: Generated reference for Chatto's protobuf websocket realtime protocol.
editUrl: false
---

{/* Generated by protoc-gen-doc from proto/chatto/realtime/v1/*.proto. Do not edit directly. */}

Chatto's realtime websocket is mounted at `/api/realtime` and exchanges binary
protobuf frames.

## Messages

{{range .Files}}{{range .Messages -}}
<a id="{{.FullName | anchor}}"></a>

### {{.LongName}}

{{template "messageDetails" (dict "Message" . "Files" $.Files)}}

{{end}}{{end -}}

{{$hasEnums := false -}}
{{range .Files}}{{range .Enums -}}
{{$hasEnums = true -}}
{{end}}{{end -}}
{{if $hasEnums}}
## Enums

{{range .Files}}{{range .Enums -}}
<a id="{{.FullName | anchor}}"></a>

### {{.LongName}}

{{if .Description}}{{.Description}}{{else}}No enum description provided.{{end}}

| Name | Number | Description |
| --- | --- | --- |
{{range .Values -}}
| `{{.Name}}` | `{{.Number}}` | {{if .Description}}{{nobr .Description}}{{else}}No value description provided.{{end}} |
{{end}}

{{end}}{{end -}}
{{end -}}
